.memoryman_container {
    position: relative;
    margin: 0 auto;  
    margin-top: 5vh;
    margin-bottom: 5vh;
    background-color: rgb(223, 223, 223);
    max-height: 50vh;
    aspect-ratio: 13 / 10;
    border-radius: .5%;

    font-size: 16px;
    color: rgb(230, 11, 11);
    border: .2vh rgb(0, 0, 0) solid;
}

.memoryman_triangle {
    position: absolute;
    background-color: rgb(208, 208, 208);

    top: 5%;
    left: 5%;
    bottom: 5%;

    height: 90%;
    width: 67%;
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 70%);

    background-color: rgb(0, 0, 0);
    border-radius: 1%;
}

.memoryman_text {
    position: absolute;
    transform: rotate(36deg);
    left: 25%;
    top: 30%;
}

@media (max-width: 480px) {
    .memoryman_container {
        font-size: 10px;
    }

    .memoryman_text {
        left: 20%;
        top: 30%;
    }
}

.memoryman_knobs_grid {
    /*  background-color: rgba(137, 43, 226, 0.236);
    outline: red solid 1px; */
    position: absolute;
    height: 90%;
    aspect-ratio: 2/3;

    top: 5%;
    right: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    grid-template-areas:
        "memoryman_knob_1 memoryman_knob_2"
        "memoryman_knob_3 memoryman_knob_4"
        "memoryman_knob_5 memoryman_knob_6";
}


.memoryman_knob {
    width: 100%;
    height: 100%;

    /*  background-color: rgba(0, 0, 0, 0.353); */
    /* outline: green solid 1px; */
    text-align: center;
}

.memoryman_knob img {
    width: 70%;
}

.memoryman_knob.five {
    color: aliceblue;

}

.memoryman_knob.three {
    background-color: rgb(239, 30, 30);
    border: .2vh rgb(0, 0, 0) solid;
    border-radius: 50%;
    width: 7%;
    height: 6.75%;
    margin: 0 auto;
}

.memoryman_switch {
    position: absolute;
    top: 82%;
    left: 15%;

    background-color: rgb(205, 205, 205);
    border-radius: 50%;
    width: 6%;
    aspect-ratio: 1/1;
}

.memoryman_light {
    position: absolute;
    top: 5%;
    left: 15%;
    border: .2vh rgb(0, 0, 0) solid;
    background-color: rgb(239, 30, 30);

    border-radius: 50%;
    width: 1.5%;
    aspect-ratio: 1/1;
}