.gallery_dots {
    text-align: center;
    color: lightgrey;
    padding: 0;
    margin: 0;
    font-size: 25px;
}

.guitar_gallery,
.video_gallery,
.art_gallery {
    display: flex;
    overflow: scroll;

    scroll-snap-type: x mandatory;
    margin-top: 2vh;
    margin-bottom: 2vh;

    gap: 2%;

    height: auto;

}

.guitar_gallery_item,
.video_gallery_item,
.art_gallery_item {
    flex-shrink: 0;
    scroll-snap-align: center;
    margin-top: 1%;
    margin-bottom: 1%;


    text-align: center;
}




.guitar_gallery_item {
    width: 23.5%;
}

.guitar_gallery img {
    border-radius: 5px;
}

@media (max-width: 768px) {
    .guitar_gallery_item {
        width: 49%;
    }

    .guitar_gallery img {
        border-radius: 2.5px;
    }
}

.art_gallery {
    height: 50vh;
}

.art_gallery_item {}

.art_gallery img {
    border-radius: 5px;
    min-width: 25vh;
    max-width: 100%;
    object-fit: cover;
    background-color: rgb(235, 235, 235);
}

@media (max-width: 768px) {
    .art_gallery {
        height: 35vh;
    }

    .art_gallery img {
        border-radius: 5px;
        min-width: 20vh;
        max-width: 100%;
        object-fit: cover;
    }
}






.video_gallery video {
    width: 44vw;
    border-radius: 10px;
}

@media (min-width: 1400px) {
    .video_gallery video {
        width: 28.8vw;
    }
}

@media (max-width: 768px) {
    .video_gallery video {
        width: 90vw;
    }
}