html {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: rgb(255, 255, 255);

}


body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;

    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    background-color: white;
}

@font-face {
    font-family: OrangeAmp;
    src: url(../resources/fonts/Orange/AmpedOrange.ttf);
}

.container {
    z-index: 0;
    margin: 5%;
    margin-top: 10%;
    background-color: rgb(255, 255, 255);
}

.liam {
    font-size: 10vw;
    text-align: center;
    color: rgb(0, 0, 0);
}


#CV {}

#CV a {
    transition: all 200ms ease;
    text-decoration: none;
    color: rgb(75, 111, 203);
}

#CV a:hover {
    color: rgb(255, 118, 21);
}

#CV span {
    font-style: italic;
    font-weight: 200;
}

#videos {


    text-align: center;
}

#videos h1 {
    font-size: 10vw;
}

#videos video {
    display: block;
    margin: 0 auto;
    padding: 1vh;
}

#contact {}

#contact p {
    margin: 0;
}