html {
    scroll-behavior: smooth;
}


body {
    font-family: 'Gill Sans';
    font-weight: 200;
    font-size: 18px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

@font-face {
    font-family: OrangeAmp;
    src: url(../resources/fonts/Orange/AmpedOrange.ttf);
}

.container {
    margin-top: 125px;
    margin-bottom: 10vh;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
}

.liam {
    padding-top: 125px;

    text-align: center;
    font-size: 15vh;

    font-family: OrangeAmp;

    color: rgb(0, 0, 0);
}


#CV {
    padding-top: 125px;
    font-weight: 400;
}

#CV a {
    transition: all 200ms ease;
    text-decoration: none;
    color: rgb(0, 80, 104);
}

#CV a:hover {
    color: rgb(255, 118, 21);
}

#CV span {
    font-weight: 100;
    font-style: italic;
}

#videos {
    padding-top: 125px;
    text-align: center;
}

#videos h1 {
    font-family: OrangeAmp;
    font-size: large;
    font-size: 10vh;
}

#videos video {
    display: block;
    margin: 0 auto;
    padding: 1vh;
}

#contact {
    padding-top: 125px;
}