header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;

    width: 100%;
    height: 120px;

 
}

nav {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(6, 15vw);
    grid-template-rows: 25px 25px 70px 70px;

    justify-content: center;

    /*     padding-top: 5px; */
    gap: 0px;
}

.nav_item {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    border: 1px solid green;
}

.nav_item.menu {}

.nav_item a {
    
}

.nav_item.menu {
    color: rgb(255, 253, 253);
    transition-duration: 200ms;
}

.nav_item.menu :hover {
    color: rgb(255, 118, 21);
}

.nav_item.icon {
    font-size: 20px;
}

.nav_item.knob {
    z-index: 10;

}

.nav_item img {
    height: 70px;
    width: auto;
}

.nav_item.knob img{
    transition-duration: 800ms;
}


.nav_item.knob img:hover {
    transform: rotate(300deg);
}

.nav_item.input img { 
    transition-duration: 200ms;
}

.nav_item.input img:hover {
    transform: scale(1.1);
}

.nav_item.switch img {
    transition-duration: 500ms;
}

.nav_item.switch a img:hover {}

.nav_item.knob_back {
    position: relative;
    top: -70px;
    z-index: 8;
}






/* .black_top {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0px;

    height: 35px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    border-top: 1px solid white;
}


.orange {
    position: fixed;

    width: 100%;
    left: 0;
    right: 0;
    top: 35px;
    height: 25px;
    width: 100%;
    background-color: rgb(255, 118, 21);
}



.control_plate {
    position: fixed;

    height: 65px;
    top: 60px;
    left: 0;

    width: 100%;

    background-color: rgb(255, 255, 255);

    border-bottom: 5px solid black;
    border-top: 5px solid black;

} */